/* General Guidelines:
   - Use the provided purple color (#6f5eff) where applicable.
   - The default font family for HW1 should be Arial, sans-serif.
*/

/* Typography: */
/* 
"House Design" title 
    font-size: 1.5rem;
    font-weight: bold;
"House Styling" title 
    font-size: 20px;
Footer section headings: 'Store Info', 'About', 'Account', 'Policy'
    font-size: 14px;
Footer content 
    font-size: 12px;
For all other text, if not specified above, an approximate font size is acceptable. 
*/

/* TO-DO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body Formating */

body {
    font-family: Arial, sans-serif;
    color: #6f5eff;
}
 /* Header Formating */

header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    color: black;
    background-color: #f8f8f8;
} 
/* Navigation Formating */

nav {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 150px;
}

nav h2 {
    font-size: 20px;
}
nav a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
}
/* Content Formating */
.Content {
    font-size: 1.5rem;
    font-weight: bold;
}
.Content h2 {
    font-size: 20px;
}

/* Footer Formating */

.Footer {
    text-align: center;
    display: flex;
    gap: 150px;
}
.Footer h2 {
    font-size: 14px;
    font-weight: bold;
}

/* Information Formating */

.Infomation {
    text-align: center;
}
.Infomation p {
    font-size: 12px;
}
.Infomation h1 { 
    font-size: 12px;

}